:root {
    --primary: #000;
    --secondary: rgb(184, 24, 51);
}

.btn {
    padding: 8px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn--primary {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
}

.btn--secondary {
    background-color: var(--secondary);
    color: #fff;
    border: 1px solid black;
}

.btn--outline {
    background-color: transparent;
    color: var(--primary);
    padding: 8px 20px;
    border: 1px solid black;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
    width: 200px;
}

.btn--medium:hover, .btn--large:hover {
    background-color: var(--red-700);
    color: black;
}

.btn--secondary:hover {
    background-color: white;
    color: #000;
}