.navbar {
    background: rgb(184, 24, 51);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
}

.nav-item {
    height: 80px;
    display: flex;
    text-align: center;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border: 0px solid white;
    transition: all 0.2s ease-out;
}

.nav-links:hover {
    border-bottom: 4px solid #ccc;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

#navbar-logo {
    background-image: url(../images/ElevatEd_Logo_Min.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    filter: grayscale(1) brightness(5);
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        background: rgb(154, 20, 41);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0px;
        left: 0;
        position: absolute;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .nav-menu.active {
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 450px;
    }

    .nav-links {
        text-align: center;
        padding: 20px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}