@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --color-red-700: oklch(50.41% 0.1899 20.16);
    }
}

.root {
    --dark-red: rgb(184, 24, 51);
    --dark-blue: rgb(0, 0, 128);
}

html {
    background-color: rgb(184, 24, 51);
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hl {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}


.home,
.services,
.products,
.sign-up {
    background: var(--dark-red);
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    /* background-image: url('/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.products {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    /* background-image: url('/images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.wrapper {
    background-color: white;
    min-height: 100vh;        /* Ensures the container is at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
  
@media screen and (max-width: 1024px) {
    h1 {
        font-size: calc(6px + 2vw);
    }
}